extends _layout.pug

block var
	- var title = "Gallery"
	- var name = "gallery"
	- var bodyClass = "gallery-page"

block main
	include ../components/breadcrumb/index.pug
	+PageBanner("./img/banner/b_6.jpg")
	include ../components/gallery/index.pug
