extends _layout.pug

block var
	- var title = "TRANG CHỦ"
	- var name = "index"
	- var bodyClass = "index-page"

block main
	include ../components/home_banner/index.pug
	include ../components/home/index.pug