extends _layout.pug

block var
	- var title = "Tin tực - Sự kiện"
	- var name = "tin-thuc-su-kien"
	- var bodyClass = "tin-tuc-su-kien-page"

block main
	include ../components/breadcrumb/index.pug
	include ../components/new-event/detail.pug