extends _layout.pug

block var
	- var title = "Home"
	- var name = "index"
	- var bodyClass = "index-page"

block main
	section.project
		h2.module-title DỰ ÁN
		.container
			.row
				.col
					img.img-fluid(src="../img/project/project_item_1.png", alt="")
					img.img-fluid(src="../img/project/project_item_3.png", alt="")
				.col
					img.img-fluid(src="../img/project/project_item_8.png", alt="")
				.col
					img.img-fluid(src="../img/project/project_item_2.png", alt="")
					img.img-fluid(src="../img/project/project_item_4.png", alt="")
			.row
				.col
					img.img-fluid(src="../img/project/project_item_6.png", alt="")
					img.img-fluid(src="../img/project/project_item_5.png", alt="")
					img.img-fluid(src="../img/project/project_item_7.png", alt="")