header
	.container
		.row.no-gutters
			.logo
				a(href="/")
					img(src="./img/logo.png", alt="")
			.menu-wrapper
				.sub-menu

					a.hotline(href="tel:+84918 290 028")
						span.mdi.mdi-phone
						span 0918 290 028
					.search
						.search-toggle
							span.mdi.mdi-magnify
						.Module
							.searchbox
								input.searchinput(type='text', title='Site Search', autocomplete='off', placeholder='Search terms')
								button.searchbutton Search
					.language
						.current
							span.mdi EN
						.dropdown
							a(href="#") EN
							a(href="#") VN
				.main-menu
					.category-list.Module
						.ModuleContent
							ul
								li
									a(href="about.html") giới thiệu
								li
									a(href="product.html") năng lực thi công
								li
									a(href="project.html") dự án
								li
									a(href="news-envents.html") tin tức - sự kiện
								li
									a(href="catalogue.html") hỗ trợ khách hàng
								li
									a(href="employ.html") tuyển dụng
								li
									a(href="gallery.html") thư viện
								li
									a(href="contact.html") liên hệ
			.toggle-menu
				span.mdi.mdi-menu
	.backdrop