footer
	.container
		.row.no-gutters.top
			.col-lg-4.col-sm-6.address
				h2.module-title CÔNG TY TNHH hoàng phú thái
				p
					span.fas.fa-map-marker-alt
					span BT 06-08 , Đường 28B KĐT Phước Long, P. Phước Long, Tp. Nha Trang, Khánh Hòa.
				p
					span.fas.fas.fa-phone
					a(href="tel:+84918290028") 0918290028
				p
					span.fas.fa-envelope
					a(href="mailto:info@hoangphuthai.vn") info@hoangphuthai.vn
				p
					span.fas.fa-globe-asia
					a(href="www.hoangphuthai.vn") www.hoangphuthai.vn
			.col-lg.col-sm-6.nav
				h2.module-title.blank
				nav
					a(href="#") giới thiệu
					a(href="#") năng lực thi công
					a(href="#") tuyển dụng
					a(href="#") sitemap
			.col-lg.col-sm-6.nav
				h2.module-title liên kết nhanh
				nav
					a(href="#") Dự án
					a(href="#") thư viện
					a(href="#") tin tức - sự kiện
					a(href="#") Hỗ trợ khách hàng
					a(href="#") liên hệ
			.col-lg-3.col-sm-6
				//- .receive-news
				//- 	.Module
				//- 		.subscribe
				//- 			h2.module-title ĐĂNG KÝ NHẬN BẢN TIN
				//- 			div
				//- 				.subscribenew
				//- 					input.subscribeinfo(type='text' spellcheck="false", placeholder='Nhập họ tên của bạn')
				//- 					input.subscribeinfo(type='text' spellcheck="false", placeholder='Nhập email của bạn')
				//- 					input.subscribeinfo(type='text' spellcheck="false", placeholder='Nhập số điện thoại của bạn')
				//- 					button.subscribebutton Đăng ký
		.row.copyright
			.col
				h4 © 2018 CÔNG TY TNHH Hoàng phú thái. All Rights Reserved.
			.Social-icons.col
				a(href="#")
					i.fab.fa-facebook-f
				a(href="#")
					i.fab.fa-youtube
				a(href="#")
					i.fab.fa-instagram