footer
	.container
		.row.no-gutters.top
			.col-lg-4.col-sm-6.address
				h2.module-title CÔNG TY TNHH hoàng phú thái
				i.fas.fa-map-marker-alt
					p BT 06-08 , Đường 28B KĐT Phước Long, P. Phước Long, Tp. Nha Trang, Khánh Hòa.
				i.fas.fa-phone
					p
						a(href="tel:+84918290028") 0918290028
				i.fas.fa-envelope
					p
						a(href="mailto:info@hoangphuthai.vn") info@hoangphuthai.vn
				i.fas.fa-globe-asia
					p 
						a(href="www.hoangphuthai.vn") www.hoangphuthai.vn
			.col-lg.col-sm-6.nav
				h2.module-title.blank
				nav
					a(href="#") giới thiệu
					a(href="#") năng lực thi công
					a(href="#") tuyển dụng
					a(href="#") sitemap
			.col-lg.col-sm-6.nav
				h2.module-title liên kết nhanh
				nav
					a(href="#") Dự án
					a(href="#") thư viện
					a(href="#") tin tức - sự kiện
					a(href="#") Hỗ trợ khách hàng
					a(href="#") liên hệ
			.col-lg-3.col-sm-6
				.receive-news
					.Module
						.subscribe
							h2.module-title ĐĂNG KÝ NHẬN BẢN TIN
							div
								.subscribenew
									input.subscribeinfo(type='text', placeholder='Nhập họ tên của bạn')
									input.subscribeinfo(type='text', placeholder='Nhập email của bạn')
									input.subscribeinfo(type='text', placeholder='Nhập số điện thoại của bạn')
									button.subscribebutton Đăng ký
		.row.copyright
			.col
				p 
					span © 2018 CÔNG TY TNHH Hoàng phú thái. All Rights Reserved.
				.Module
					.ModuleContent
						nav
							ul
								li
									a(href="#")
										i.fab.fa-facebook-f
								li
									a(href="#")
										i.fab.fa-youtube
								li
									a(href="#")
										i.fab.fa-instagram