section.ability
	.container
		h2.moduleTitle Năng lực thi công
		.row
			.col-4
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="../img/product/certifition.png", alt="", srcset="")
				.swiper-button-next
					i.fa-chevron-right
				.swiper-button-prev
					i.fa-chevron-left
			.col-8
				p Hoàng Phú Thái thành lập năm 2011, trong 7 năm thành lập và phát triển Công ty không ngừng lớn mạnh. Đánh dấu là liên tiếp trúng thầu các dự án có giá trị hợp đồng lớn như Fusion resort Nha Trang, Melia Sài Gòn- Cam Ranh, Wyndham Garden Phú Quốc ...Tổng giá trị hợp đồng lên tời 650 tỷ đồng, được đánh giá là 1 trong những nhà thầu uy tín về tiến độ và chất lượng công trình. 
				p Để có được những thành công nhất định là sự chung sức của tập thể CB, CNV . Bên cạnh đó HPT đã đẩy mạnh vào đầu tư mạnh mẽ vào máy móc kỹ thuật nhằm chuyên môn hóa và nâng cao năng lực thiết bị thi công. Mục tiêu đặt ra trong những năm tới của HPT là trở thành tổng thầu lớn, với các dự án trải dài khắp cả nước.
section.projected
	.container
		h2.moduleTitle Dự án đã thực hiện
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					figure
						a(href="")
							.imgbox
								img(src="../img/product/product_project_1.png", alt="", srcset="")
						figcaption
							h3 
								a Fusion Resort
								a(href="")
							p NHA TRANG
								i.fas.fa-arrow-right
				.swiper-slide
					figure
						img(src="../img/product/product_project_2.png", alt="", srcset="")
						figcaption
							h3 Chensea Resort and Spa
							p PHÚ QUỐC
								i.fas.fa-arrow-right
				.swiper-slide
					figure
						img(src="../img/product/product_project_3.png", alt="", srcset="")
						figcaption
							h3 Căn hộ Sunshine Marina
							p NHA TRANG BAY
								i.fas.fa-arrow-right