.ability
	padding-bottom: 5rem
	.module-ability
		background: url('../img/product/product_banner_bg.png') center center no-repeat
		background-size: cover
		padding-bottom: 3rem
		.content
			p
				padding: 1rem
				color: #333333
				font-family: 'Montserrat', sans-serif
				font-size: 15px
				font-weight: 400
				line-height: 23px
		.module-img
			position: relative
			margin-bottom: 4rem
			.img-slider
				.swiper-slide
					text-align: center
			.swiper-button-next
				outline: none
				background-image: none
				width: 20px
				height: 20px
				text-align: center
				position: absolute
				top: auto
				bottom: -7%
				right: auto
				left: 50%
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				border: 1px solid #f5b535
				display: flex
				justify-content: center
				align-items: center
				padding: 1rem
				background: #f5b535
				.fa-chevron-right
					outline: none
					font-style: normal
					color: #ffffff
					&:before
						content: "\f061"
						font-family: "Font Awesome 5 Free"
						font-weight: 600
			.swiper-button-prev
				outline: none
				background-image: none
				width: 20px
				height: 20px
				text-align: center
				position: absolute
				bottom: -7%
				top: auto
				right: 51%
				left: auto
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				border: 1px solid #f5b535
				display: flex
				justify-content: center
				align-items: center
				padding: 1rem
				background: #f5b535
				.fa-chevron-left
					color: #ffffff
					outline: none
					font-style: normal
					&:before
						content: "\f060"
						font-family: "Font Awesome 5 Free"
						font-weight: 600
		@media (min-width: 992px)
			.module-img
				flex: 0 0 30%
				max-width: 30%
				margin: 0
				.swiper-button-next
					transform: translateX(50%)
					right: 0
					bottom: auto
					top: 50%
					left: auto
					background-image: none
					background: none
					border: none
					.fa-chevron-right
						outline: none
						font-style: normal
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
						&:before
							content: "\f061"
							font-family: "Font Awesome 5 Free"
							font-weight: 600
				.swiper-button-prev
					transform: translateX(-50%)
					left: 0
					background-image: none
					bottom: auto
					top: 50%
					right: auto
					background: none
					border: none
					.fa-chevron-left
						outline: none
						font-style: normal
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
						&:before
							content: "\f060"
							font-family: "Font Awesome 5 Free"
							font-weight: 600
			.content
				flex: 0 0 70%
				max-width: 70%
	.module-project
		text-align: center
		padding-top: 5rem
		.module-client
			position: relative
			width: 100%
			.swiper-container
				width: 100%
				height: 100%
				.swiper-wrapper
					.swiper-slide
						text-align: center
						font-size: 18px
						background: #fff
						display: flex
						justify-content: center
						align-items: center
						figure
							position: relative
							figcaption
								position: absolute
								bottom: 0
								left: 0
								width: 100%
								background: linear-gradient(rgba(0, 0, 0, 0), #000000cc)
								padding-bottom: 1rem
								h3
									color: #ffffff
									font-family: 'Roboto', sans-serif
									font-size: 22px
									font-weight: 400
									text-transform: none
									text-align: center
								p
									text-align: center
									font-family: "Roboto - Regular", sans-serif
									font-size: 13px
									font-weight: 400
									color: #ffffff
									text-align: center
									.fa-arrow-right
										display: inline-block
										width: 20px
										height: 20px
										font-style: normal
										&:after
											content: "\f061"
											font-family: "Font Awesome 5 Free"
											font-weight: 600
											color: #ffffff
			.swiper-button-next
				background-image: none
				width: 20px
				height: 20px
				text-align: center
				position: absolute
				top: auto
				bottom: -15%
				right: auto
				left: 50%
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				border: 1px solid #f5b535
				display: flex
				justify-content: center
				align-items: center
				padding: 1rem
				background: #f5b535
				.fa-chevron-right
					outline: none
					font-style: normal
					background-clip: text
					-webkit-background-clip: text
					color: transparent
					background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
					&:before
						color: #000
						content: "\f054"
						font-family: 'Font Awesome 5 Free'
						font-weight: 600
			.swiper-button-prev
				background-image: none
				width: 20px
				height: 20px
				text-align: center
				position: absolute
				bottom: -15%
				top: auto
				right: 51%
				left: auto
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				border: 1px solid #f5b535
				display: flex
				justify-content: center
				align-items: center
				padding: 1rem
				background: #f5b535
				.fa-chevron-left
					outline: none
					font-style: normal
					background-clip: text
					-webkit-background-clip: text
					color: transparent
					background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
					&:before
						color: #000
						content: "\f053"
						font-family: 'Font Awesome 5 Free'
						font-weight: 600
		@media (min-width: 992px)
			.module-client
				.swiper-button-next
					outline: none
					transform: translate(-50%,-50%)
					right: -2%
					bottom: auto
					top: 20%
					left: auto
					background-image: none
					background: #ffffff
					border-color: rgba(19, 28, 35, 0.1)
				.swiper-button-prev
					outline: none
					transform: translate(-50%,-50%)
					left: auto
					background-image: none
					bottom: auto
					top: 20%
					right: 3%
					background: #ffffff
					border-color: rgba(19, 28, 35, 0.1)
		@media (min-width: 1200px)
			.module-client
				.swiper-button-next
					right: -1%
	@media (min-width: 992px)
		.module-img
			flex: 0 0 30%
			margin: 0
		.content
			flex: 0 0 70%
			display: flex
			justify-content: center
			flex-direction: column