section.gallery
	.container
		.row
			.col-12
				h2.moduleTitle Thư viện
				nav
					a(href="") Thư viện ảnh
					a(href="") Thư viện video
			.col-md-6
				.row
					.col-12.item
						a(href="./img/gallery/gallery_item_1.png")
							.img-filler
								img(src="./img/gallery/gallery_item_1.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
				.row
					.col-6.item
						a(href="./img/gallery/gallery_item_2.png" )
							img.img-filler(src="./img/gallery/gallery_item_2.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
					.col-6.item
						a(href="./img/gallery/gallery_item_3.png")
							img.img-filler(src="./img/gallery/gallery_item_3.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
				.row
					.col-12.item
						a(href="./img/gallery/gallery_item_4.png")
							img.img-filler(src="./img/gallery/gallery_item_4.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
			.col-md-6
				.row
					.col-6.item
						a(href="./img/gallery/gallery_item_5.png")
							img.img-filler(src="./img/gallery/gallery_item_5.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
					.col-6.item
						a(href="./img/gallery/gallery_item_6.png" )
							img.img-filler(src="./img/gallery/gallery_item_6.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
				.row
					.col-12.item
						a(href="./img/gallery/gallery_item_7.png")
							img.img-filler(src="./img/gallery/gallery_item_7.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
				.row
					.col-6.item
						a(href="./img/gallery/gallery_item_8.png")
							img.img-filler(src="./img/gallery/gallery_item_8.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")
					.col-6.item
						a(href="./img/gallery/gallery_item_9.png" )
							img.img-filler(src="./img/gallery/gallery_item_9.png")
							.gallery-poster
								img(src="./img/gallery/popup/popup_icon_L.png")