section.gallery
	.container
		.row
			.col-12
				h2.moduleTitle Thư viện
				nav
					a(href="") Thư viện ảnh
					a(href="") Thư viện video
	.container
		.row
			.col-lg-6
				.row
					.col
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_1.png")
										img(src="./img/gallery/gallery_item_1.png", alt="")
									a(href="./img/gallery/gallery_item_1.png")
									a(href="./img/gallery/gallery_item_1.png")
									a(href="./img/gallery/gallery_item_1.png")
									a(href="./img/gallery/gallery_item_1.png")
									a(href="./img/gallery/gallery_item_1.png")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_2.png")
										img(src="./img/gallery/gallery_item_2.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_3.png")
										img(src="./img/gallery/gallery_item_3.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col.resized
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_4.png")
										img(src="./img/gallery/gallery_item_4.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
			.col-lg-6
				.row
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_5.png")
										img(src="./img/gallery/gallery_item_5.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_6.png")
										img(src="./img/gallery/gallery_item_6.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_7.png")
										img(src="./img/gallery/gallery_item_7.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_8.png")
										img(src="./img/gallery/gallery_item_8.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")
					.col-md-6
						.item
							figure
								.imgbox
									a(href="./img/gallery/gallery_item_9.png")
										img(src="./img/gallery/gallery_item_9.png", alt="")
								.popup-icon
									img(src="./img/gallery/popup/popup_icon_L.png", alt="")