section.project-news
	.container
		.row
			.col-6
				.row
					h3 Giới thiệu
					h2.moduleTitle Fushion Resort
				.row
					.col-md-6
						figure
							img(src="../img/project/project_icon_1.png", alt="")
							figcaption
								p
									strong Vị trí vàng
									|  giữa Cam Ranh và Nha Trang
					.col-md-6
						figure
							img(src="../img/project/project_icon_2.png", alt="")
							figcaption
								p
									strong 72 căn biệt thự
									|  thiết kế hiện đại
					.col-md-6
						figure
							img(src="../img/project/project_icon_3.png", alt="")
							figcaption
								p
									strong Hệ thống nghĩ dưỡng
									|  phong cách châu âu
					.col-md-6
						figure
							img(src="../img/project/project_icon_4.png", alt="")
							figcaption
								p
									strong Tiện ích
									|  đẳng cấp 5 sao
			.col-6
				.box-img
					img(src="../img/project/project_banner_2.png", alt="", srcset="")
section.new-location
	.container
		h2.moduleTitle Vị trí - Quy mô
		.row
			.col-6
				img(src="../img/project/project_maps.png", alt="")
			.col-6
				p
					strong Vị trí:
					|  Nằm ở phía Bắc đảo ngọc, Fusion Resort Phú Quốc có tổng diện tích hơn 20 héc-ta với 97 biệt thự. Khu nghỉ sở hữu bãi biển đẹp và cạnh nhánh sông hiền hòa đổ ra biển tại Nha Trang.
				p
					strong Quy mô:
					|  20 ha
				p
					strong Chủ đầu tư:
					|  Tập đoàn Fushion
				p
					strong Phân phối độc quyền:
					|  Công ty TNHH Hoàng Phú Thái
				p
					strong Hạ tầng hoàn thiện:
					|  Đường nội khu 9-15 mét (vỉa hè mỗi bên 5 mét), điện âm, nước thủy cục, hệ thống nước mưa và nước thải riêng biệt, hệ thống thông tin liên lạc, cây xanh,…
				p
					strong Tiện ích nội khu:
					|  Trường mầm non, công viên, trung tâm thương mại – dịch vụ và hồ cảnh quan
				p
					strong Tiện ích liên kết:
					|  Chợ Hội Nghĩa, chợ Tân Uyên, khu công nghiệp Nam Tân Uyên, trường Tiểu học – THCS Hội Nghĩa, Bệnh viện Đa khoa Tân Uyên…
				p
					strong Pháp lý:
					|  Sổ đỏ riêng từng nền
section.project-video
	.container
		h2.moduleTitle Video
		.row
			figure
				.boximg
					img(src="./img/project/project_banner_1.png", alt="")
				figcaption
					img(src="./img/project/button_1.png", alt="")
section.project-photos
	.container
		h2.moduleTitle Hình ảnh dự án
		.row
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
			.item
				a(data-fancybox="gallery" href="./img/project/project_client_1.png")
					img(src="./img/project/project_client_1.png", alt="")
section.other-project
	.container
		h2.moduleTitle Dự án đã thực hiện
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					figure
						img(src="../img/project/project_item_6.png", alt="", srcset="")
						figcaption
							h3 Fusion Resort
							p PHÚ QUỐC
								i.fas.fa-arrow-right
				.swiper-slide
					figure
						img(src="../img/project/project_item_5.png", alt="", srcset="")
						figcaption
							h3 Melia Bali Villas Resort
							p PHÚ QUỐC
								i.fas.fa-arrow-right
				.swiper-slide
					figure
						img(src="../img/project/project_item_7.png", alt="", srcset="")
						figcaption
							h3 Lan Rung Resort
							p PHÚ QUỐC
								i.fas.fa-arrow-right