section.project
	h2.moduleTitle DỰ ÁN
	.container
		.row
			.content
				a(href="")
					figure
						img(src="../img/project/project_item_1.png", alt="")
						figcaption
							h3 Ocean Hill Village
							p
								span NHA TRANG
								span.fas.fa-arrow-right
				a(href="")
					figure
						img(src="../img/project/project_item_3.png", alt="")
						figcaption
							h3 The Silk Path City
							p
								span phú quốc
								span.fas.fa-arrow-right
			.content.fix-height
				a(href="")
					figure
						img(src="../img/project/project_item_8.png", alt="")
						figcaption
							h3 Căn hộ Napoleon Castle
							p
								span NHA TRANG bay
								span.fas.fa-arrow-right
			.content.order-1
				a(href="")
					figure
						img(src="../img/project/project_item_2.png", alt="")
						figcaption
							h3 Intercontinental
							p
								span phú quốc
								span.fas.fa-arrow-right
				a(href="")
					figure
						img(src="../img/project/project_item_4.png", alt="")
						figcaption
							h3 Căn hộ Sunshine Marina
							p
								span NHA TRANG bay
								span.fas.fa-arrow-right
			.content
				a(href="")
					figure
						img(src="../img/project/project_item_6.png", alt="")
						figcaption
							h3 Fusion Resort
							p
								span phú quốc
								span.fas.fa-arrow-right
			.content
				a(href="")
					figure
						img(src="../img/project/project_item_5.png", alt="")
						figcaption
							h3 Melia Bali Villas Resort
							p
								span phú quốc
								span.fas.fa-arrow-right
			.content.order-1
				a(href="")
					figure
						img(src="../img/project/project_item_7.png", alt="")
						figcaption
							h3 Lan Rung Resort
							p
								span phú quốc
								span.fas.fa-arrow-right