section.project
	h2.moduleTitle DỰ ÁN
	#pagination-container
		.container
			.row
				.col.content
					figure
						img.img-fluid(src="../img/project/project_item_1.png", alt="")
						figcaption
							h3 Ocean Hill Village
							p NHA TRANG
								i.fas.fa-arrow-right
					figure
						img.img-fluid(src="../img/project/project_item_3.png", alt="")
						figcaption
							h3 The Silk Path City
							p phú quốc
								i.fas.fa-arrow-right
					figure
						img.img-fluid(src="../img/project/project_item_6.png", alt="")
						figcaption
							h3 Fusion Resort
							p phú quốc
								i.fas.fa-arrow-right
				.col.content
					figure
						img.img-fluid(src="../img/project/project_item_8.png", alt="")
						figcaption
							h3 Căn hộ Napoleon Castle
							p NHA TRANG bay
								i.fas.fa-arrow-right
					figure
						img.img-fluid(src="../img/project/project_item_5.png", alt="")
						figcaption
							h3 Melia Bali Villas Resort
							p phú quốc
								i.fas.fa-arrow-right
				.col.content
					figure
						img.img-fluid(src="../img/project/project_item_2.png", alt="")
						figcaption
							h3 Intercontinental
							p phú quốc
								i.fas.fa-arrow-right
					figure
						img.img-fluid(src="../img/project/project_item_4.png", alt="")
						figcaption
							h3 Căn hộ Sunshine Marina
							p NHA TRANG bay
								i.fas.fa-arrow-right
					figure
						img.img-fluid(src="../img/project/project_item_7.png", alt="")
						figcaption
							h3 Lan Rung Resort
							p phú quốc
								i.fas.fa-arrow-right
	#data-container
		ul
			li.prev
			li 1
			li 2
			li 3
			li.next