section.jobs
	.container
		h2.title Trợ Lý Tổng Giám Đốc
		.row
			.col-6
				.detail
					h3 Thông tin tuyển dụng
					ul
						li
							p
								i.material-icons person_pin_circle
								span Nơi làm việc: Hồ Chí Minh
							p
								i.mdi-star-circle
								span Cấp bậc: Nhân viên
							p
								i.mdi-school
								span Trình độ: Cao đẳng
						li
							p
								i.material-icons work
								span Kinh nghiệm: 1 - 2 Năm
							p
								i.salary
								span Lương: ~ 15.000.000 VND
							p
								i.mdi-camera-timer
								span Hết hạn nộp: 29/01/2019
			.col-6
				.detail
					h3 Chính sách phúc lợi
					ul
						li
							p Bảo hiểm theo quy định
							p Đào tạo nâng cao trình độ
							p Du lịch hằng năm

						li
							p Tăng lương
							p Thưởng vào các dịp lễ Tết
							p Thưởng thành tích tốt
		.row
			.col-12
				h3 Mô tả công việc
				ul
					li Tổng hợp, sắp xếp lịch trình làm việc của Giám đốc, là cầu nối giữa Giám Đốc với các phòng ban trong công ty
					li Soạn thảo hợp đồng, giao tiếp tốt bằng tiếng anh với người nước ngoài.
					li Trợ giúp Giám Đốc trong các hoạt động của công ty nói chung.
					li Đại diện Giám Đốc trong việc đối nội, đối ngoại.
					li Phụ trách đón tiếp khách hàng, đối tác.
					li MC dẫn các event, livestream của công ty.
					li Hoàn thành các công việc khác được Giám Đốc giao.
					li Thời gian làm việc: Thứ 2 – 6: 7h30-16h30; Thứ 7: 7h30-11h30
				h3 Yêu Cầu Công Việc
				ul
					li Nữ dưới 28 tuổi
					li Anh Văn: nghe nói đọc viết tốt
					li Trợ giúp Giám Đốc trong các hoạt động của công ty nói chung.
					li Ngoại hình đẹp, cao trên 1m60, CV đính kèm 01 hình thẻ
					li Siêng năng, chịu khó, cẩn thận.
					li MThành thạo tin học văn phòng và xử lý công việc nhanh nhẹn
				h3 Thông tin khác
				ul
					li Bằng cấp: Cao đẳng
					li Độ tuổi: 22 - 28
					li Giới tính: Nữ
					li Hình thức: Nhân viên chính thức
				a(href="") Ứng tuyển
section.other
	.container
		h3 Vị trí khác
		.swiper-container
			.swiper-wrapper
				a(href="").swiper-slide
					.detail
						h3 Thư ký Giám đốc
						.box-content
							.location Nơi làm việc: Hồ Chí Minh
							.education Trình độ: Cao đẳng
							.salary Lương: ~10.000.000 VND
				a(href="").swiper-slide
					.detail
						h3 Thư ký Giám đốc
						.box-content
							.location Nơi làm việc: Hồ Chí Minh
							.education Trình độ: Cao đẳng
							.salary Lương: ~10.000.000 VND
				a(href="").swiper-slide
					.detail
						h3 Thông tin khác
						.box-content
							.location Nơi làm việc: Hồ Chí Minh
							.education Trình độ: Cao đẳng
							.salary Lương: ~10.000.000 VND
				a(href="").swiper-slide
					.detail
						h3 Thông tin khác
						.box-content
							.location Nơi làm việc: Hồ Chí Minh
							.education Trình độ: Cao đẳng
							.salary Lương: ~10.000.000 VND
		.swiper-button-next
			i.fa-chevron-right
		.swiper-button-prev
			i.fa-chevron-left