section.employ
	.recruit
		.Module
			.moduleContent
				.container
					.row
						.col.recruit-content
							h3 Tuyển dụng
							h2.moduleTitle Hoàng Phú Thái
							p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. 
							p The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater.
						.col.box-img
							img.img-fluid(src="../img/employ/employ_banner_2.png", alt="", srcset="")
	.module-steps
		h2.moduleTitle Các bước tuyển dụng
		.container
			.row
				.col.step-box
					figure
						img.img-fluid(src="../img/employ/employ_icon_1.png", alt="", srcset="")
						figcaption
							h3 Ứng Tuyển & PHỎNG VẤN
							p Ứng viên chọn vị trí việc làm mogn muốn. 
							p Tham gia phỏng vấn theo thời gian công ty quy định.
							.step Bước 1
				.col.step-box
					figure
						img.img-fluid(src="../img/employ/employ_icon_2.png", alt="", srcset="")
						figcaption
							h3 Đánh giá quyết định
							p Công ty đánh giá năng lực chọn ra ứng viên xuất sắc nhất.
							.step Bước 2
				.col.step-box
					figure
						img.img-fluid(src="../img/employ/employ_icon_3.png", alt="", srcset="")
						figcaption
							h3 Tập sự thử viêc
							p Công ty gủi thư mời thử việc. Ký hợp đồng thử việc trong 02 tháng.
							.step Bước 3
				.col.step-box
					figure
						img.img-fluid(src="../img/employ/employ_icon_4.png", alt="", srcset="")
						figcaption
							h3 TUYỂN DỤNG CHÍNH THỨC
							p Thông báo kết quả tuyển dụng. Ký hợp đồng lao động.
							.step.finish Hoàn thành
	.table
		.container
			.Module
				.moduleContent
					h2.moduleTitle Vị trí tuyển dụng
					.row
						.col.table-main
							table
								thead
									tr
										th STT
										th Vị trí tuyển dụng
										th Số lượng
										th Địa điểm
										th ngày hết hạn
								tbody
									tr.odd
										td 1
										td.employee Nhân viên bán hàng
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.even
										td 2
										td.employee Nhân viên kho
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.odd
										td 3
										td.employee Nhân viên kế toán
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.even
										td 4
										td.employee Trợ lý Tổng Giám Đốc
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.odd
										td 5
										td.employee Tài xế xe tải
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.even
										td 6
										td.employee Nhân viên kinh doanh
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.odd
										td 7
										td.employee Trưởng phòng kinh doanh
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.even
										td 8
										td.employee Thư ký Giám Đốc
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.odd
										td 9
										td.employee Chuyên viên tư vấn BĐS
										td 10
										td Hồ Chí Minh
										td 31/12/2018
									tr.even
										td 10
										td.employee Thủ kho
										td 10
										td Hồ Chí Minh
										td 31/12/2018