section.employ
	.container
		.recruit
			.recruit-content
				h3 Tuyển dụng
				h2.moduleTitle Hoàng Phú Thái
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. 
				p The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater.
			img(src="../img/employ/employ_banner_2.png", alt="", srcset="")
section.module-steps
	h2.moduleTitle Các bước tuyển dụng
	.container
		.row
			a(href="").step-box
				figure
					img(src="../img/employ/employ_icon_1.png", alt="", srcset="")
					figcaption
						h3 Ứng Tuyển & PHỎNG VẤN
						p Ứng viên chọn vị trí việc làm mong muốn. 
						p Tham gia phỏng vấn theo thời gian công ty quy định.
						.step Bước 1
			a(href="").step-box
				figure
					img(src="../img/employ/employ_icon_2.png", alt="", srcset="")
					figcaption
						h3 Đánh giá quyết định
						p Công ty đánh giá năng lực chọn ra ứng viên xuất sắc nhất.
						.step Bước 2
			a(href="").step-box
				figure
					img(src="../img/employ/employ_icon_3.png", alt="", srcset="")
					figcaption
						h3 Tập sự thử viêc
						p Công ty gủi thư mời thử việc. Ký hợp đồng thử việc trong 02 tháng.
						.step Bước 3
			a(href="").step-box
				figure
					img(src="../img/employ/employ_icon_4.png", alt="", srcset="")
					figcaption
						h3 TUYỂN DỤNG CHÍNH THỨC
						p Thông báo kết quả tuyển dụng. Ký hợp đồng lao động.
						.step.finish Hoàn thành
section.table
	.container
		h2.moduleTitle Vị trí tuyển dụng
		.row
			.table-main
				table
					thead
						tr
							th STT
							th.employee Vị trí tuyển dụng
							th Số lượng
							th Địa điểm
							th ngày hết hạn
					tbody
						tr.odd
							td 1
							td.employee
								a(href="") Nhân viên bán hàng
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.even
							td 2
							td.employee
								a(href="") Nhân viên kho
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.odd
							td 3
							td.employee
								a(href="") Nhân viên kế toán
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.even
							td 4
							td.employee
								a(href="") Trợ lý Tổng Giám Đốc
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.odd
							td 5
							td.employee
								a(href="") Tài xế xe tải
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.even
							td 6
							td.employee
								a(href="") Nhân viên kinh doanh
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.odd
							td 7
							td.employee
								a(href="") Trưởng phòng kinh doanh
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.even
							td 8
							td.employee
								a(href="") Thư ký Giám Đốc
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.odd
							td 9
							td.employee
								a(href="") Chuyên viên tư vấn BĐS
							td 10
							td Hồ Chí Minh
							td 31/12/2018
						tr.even
							td 10
							td.employee
								a(href="") Thủ kho
							td 10
							td Hồ Chí Minh
							td 31/12/2018