.main-banner
	position: relative
	.banner-item
		img
			width: 100%
			max-height: 500px
	.bread-crumb
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 40px
		background: rgba(64, 64, 64, 0.502)
		display: flex
		align-items: center
		@media (max-width: 991.98px)
			height: 35px
			font-size: 14px
		@media (max-width: 767.98px)
			height: 30px
			font-size: 14px
		@media (max-width: 575.98px)
			height: 25px
			font-size: 13px
		ol
			padding: 0
			margin: 0
			list-style-type: none
			display: flex
			color: #fff
			align-items: center
			li
				a
					text-decoration: none
					color: #ffffff
					&:before
						content: "\f2dc"
						font-family: "Material Design Icons"
						font-weight: 400
				&:not(:nth-child(1)):before
					padding: 0 10px
					content: "\f13e"
					font-family: "Material Design Icons"
					font-weight: 400
				&:not(:nth-child(1))
					a
						font-size: 14px
						&:before
							display: none
				&:nth-child(1)
					span
						display: none