<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer" value="2" resourcefile="" />
	  <add name="Menu footer 2" value="4" resourcefile="" />
	  <add name="Menu Gallery" value="8" resourcefile="" />
	  <add name="Menu News" value="16" resourcefile="" />
	  <add name="Bước Tuyển Dụng" value="32" resourcefile="" />
	  <add name="Dự án" value="64" resourcefile="" />
	  <add name="Dự án chi tiết" value="128" resourcefile="" />
    </position>

</settings>