section.header_banner
    img.img-fluid(src="../img/about/bg.png", alt="", srcset="")
    .moduletitle
        a(href="")
            i.fas.fa-home
        a(href="")
            i.fas.fa-angle-double-right
        a(href="#") Giới thiệu