section.support
	h2.moduleTitle Hỗ trợ khách hàng
	.container
		.col.module-faqs
			h3 Câu hỏi thường gặp
			p Mọi thắc mắc vui lòng liên hệ qua địa chỉ Email: Info@hoangthaiphu.vn
			.support-question
				.faqs
					.question
						h4 What is Lorem Ipsum?
						i.collapse-icons
					.answer
						p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				.faqs
					.question
						h4 Why do we use it?
						i.collapse-icons
					.answer
						p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				.faqs
					.question
						h4 Why do we use it?
						i.collapse-icons
					.answer
						p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				.faqs
					.question
						h4 Why do we use it?
						i.collapse-icons
					.answer
						p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.