.banner-home
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				figure
					img(src="../img/home_banner/home_banner_1.png", alt="")
					figcaption
						p Hoàng Phú Thái - Tinh hoa cuộc sống qua từng công trình
			.swiper-slide
				figure
					img(src="../img/home_banner/home_banner_2.png", alt="")
					figcaption
						p Hoàng Phú Thái - Tinh hoa cuộc sống qua từng công trình
			.swiper-slide
				figure
					img(src="../img/home_banner/home_banner_3.png", alt="")
					figcaption
						p Hoàng Phú Thái - Tinh hoa cuộc sống qua từng công trình
	.swiper-pagination