section.news
	.container
		h2.title Bất Động Sản Việt Nam: Thu Hút Mạnh Vốn Ngoại
		date 30/12/2018
		.briefContent Nhiều quy định mới hoặc được sửa đổi đã mở rộng hơn quyền kinh doanh bất động sản (BĐS) cho người nước ngoài. Điều này sẽ kích thích dòng vốn ngoại chảy mạnh vào thị trường BĐS, đưa Việt Nam trở thành điểm đến đầu tư hấp dẫn.
		h3 Mở rộng cơ hội hợp tác đầu tư
		p Từ đầu năm đến nay, hàng loạt các doanh nghiệp (DN) nước ngoài đã đầu tư vào thị trường BĐS Việt Nam. Điều đó cho thấy niềm tin của các DN ngoại đang tăng lên. Tập đoàn Lotte của Hàn Quốc mới đây đã mua lại cổ phần kiểm soát của trung tâm thương mại bậc nhất Diamond Plaza tại TP Hồ Chí Minh. Cùng với đó, Chủ tịch Lotte cho biết sẽ xúc tiến nhanh việc đầu tư vào Khu đô thị mới Thủ Thiêm với dự án Eco Smart City
		p Trong khi đó, tại Hà Nội, Keangnam Landmark, tòa tháp 72 tầng cao nhất Việt Nam được định giá 770 triệu USD đang được nhiều “đại gia” muốn mua lại như Ngân hàng Goldman Sachs, Quỹ đầu tư Qatar Investment Authority…
		p Ngày 26/7 vừa qua, Quỹ đầu tư Creed Group (Nhật Bản) và Công ty Đầu tư và phát triển BĐS An Gia (An Gia Investment) cũng đã ký kết thỏa thuận hợp tác. Theo đó, Creed Group sẽ đầu tư 100 triệu USD vào An Gia Investment để thực hiện các dự án BĐS theo tiêu chuẩn chất lượng Nhật Bản tại TP Hồ Chí Minh. Ông Nguyễn Bá Sáng, Tổng giám đốc Gia An Investment, cho biết, theo kế hoạch mỗi năm, Gia An sẽ đưa ra thị trường khoảng 2.000 căn hộ trung và cao cấp. Việc hợp tác với Creed Group sẽ giúp Gia An có được nguồn lực tài chính vững mạnh để thực hiện điều này.
		p Ông Toshihiko Muneyoshi, Chủ tịch Quỹ đầu tư Creed Group, nhận định, kinh tế Việt Nam đang hồi phục và ngày càng hội nhập vào kinh tế thế giới. Cùng với đó, tín dụng được khơi thông, lãi suất giảm đang tạo điều kiện cho các DN BĐS phát triển dự án.
		p Trước đó, công ty BĐS Gamuda Land của Malaysia cũng đã chi hơn 1.400 tỷ đồng để mua lại toàn bộ cổ phần của liên doanh phát triển dự án Celadon City tại quận Tân Phú (TP Hồ Chí Minh). Tại thị trường Hà Nội, Gamuda Land cũng đang phát triển dự án Gamuda City và khu công viên Yên Sở với quy mô lên tới 500 ha. Hiện tại, chủ đầu tư này đang xây dựng và hoàn thiện khu Gamuda Gardens hơn 82 ha, đã có hàng trăm căn nhà biệt thự, liền kề và chung cư được bán ra thị trường.
		p Theo ông Marc Townsend, Tổng giám đốc CBRE Việt Nam, Việt Nam là nơi có chi phí vốn đầu tư thấp hơn và chi phí nhân công rẻ hơn so với các nước láng giềng trong khu vực nên thu hút nhiều đầu tư nước ngoài. Vốn đầu tư từ Nhật Bản, Singapore, Hàn Quốc và Hồng Kông (Trung Quốc) hiện là nguồn vốn tích cực nhất trong lĩnh vực BĐS.
		img.img-fluid(src="../img/new-event/news/news_banner_1.png", alt="", srcset="")
		h3 Thị trường sẽ sôi động và da dạng hơn
		p Luật Nhà ở (sửa đổi) có hiệu lực từ ngày 1/7/2015 cho phép người nước ngoài có quyền sở hữu BĐS đa dạng cho nhiều mục đích khác nhau như cho thuê lại, thế chấp và thừa kế. Điều này áp dụng cho cả cá nhân và tổ chức nước ngoài như quỹ đầu tư, ngân hàng và công ty. Đây là động lực phát triển cho lĩnh vực nhà ở, nhất là tại phân khúc cao cấp – với mức đầu tư nước ngoài ước tính lên đến 10%.
		p Trong khi đó, từ 1/7/2015Luật Kinh doanh BĐS (sửa đổi) có hiệu lực cũng đã có nhiều thay đổi tích cực. Theo đó, các tổ chức nước ngoài được mua lại văn phòng, cơ sở sản xuất và các tài sản khác phục vụ mục đích kinh doanh. Các dự án BĐS chưa hoàn thiện cũng được phép chuyển nhượng cho nhà đầu tư để tiếp tục phát triển. Theo ông Marc Townsend, các nhà đầu tư nước ngoài đang muốn tận dụng mức độ đô thị hóa nhanh và tầng lớp trung lưu ngày càng tăng của Việt Nam để thu mua toàn bộ các tài sản thương mại và phức hợp ở các thành phố lớn, đồng thời tiến hành các hoạt động thương mại, bán lẻ.
		p Các chuyên gia BĐS đánh giá, việc các DN nước ngoài đầu tư mạnh vào thị trường BĐS trong nước sẽ tạo nên một làn gió mới cho thị trường, giúp thị trường sôi động và đa dạng hơn. Cùng với những thay đổi về chính sách thu hút đầu tư, sự phục hồi của nền kinh tế, chi phí BĐS tương đối thấp và lợi nhuận cho thuê cao, làn sóng đầu tư nước ngoài sẽ còn mạnh hơn trong thời gian tới.
		p Bên cạnh đó, từ ngày 1/9/2015, các công ty niêm yết có vốn sở hữu 100% của nước ngoài không thuộc lĩnh vực nhạy cảm sẽ được phép hoạt động. Theo ông Lê Vương Hùng, Giám đốc kinh doanh Công ty chứng khoán Rồng Việt, những quy định mới, không chỉ tác động đến lực cầu của thị trường mà các tác động đến sự đầu tư của DN nước ngoài. Vì vậy, các cổ phiếu BĐS trong thời gian gần đây đã thu hút khối ngoại rất nhiều.
		p Cũng theo ông Hùng, hiện nay, các nhà đầu tư ngoại đang quan tâm đến các DN BĐS có quỹ đất sạch hoặc đang khó khăn về nguồn vốn và có ý định bán bớt dự án. Với sự trợ giúp của nguồn vốn ngoại, nhiều DN có cơ hội giảm hàng tồn kho và thị trường BĐS sẽ tăng mạnh giao dịch. Đặc biệt, những DN BĐS có cổ phiếu niêm yết trên thị trường chứng khoán sẽ thu hút nhiều khối ngoại hơn vì họ có thông tin minh bạch, rõ ràng. Phần lớn những cổ phiếu BĐS đang dẫn dắt thị trường hiện nay đã hết hoặc sắp hết room cho nhà đầu tư nước ngoài. Dự báo, thời gian tới, lực cầu sẽ còn tăng mạnh khi các DN quyết định mở room cho khối.
		img.img-fluid(src="../img/new-event/news/news_banner_2.png", alt="", srcset="")
		.share-link
			a(href="https://www.facebook.com/sharer/sharer.php?u=sadasdasdas">Share on Facebook)
section.otherNews
	.container
		h2.moduleTitle Tin Tức Khác
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="../img/new-event/news_img_7.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/new-event/news_img_8.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/new-event/news_img_9.png", alt="", srcset="")
section.social-link

