section.new-event
	.container
		h2.moduleTitle Tin tức - Sự kiện
		nav
			a(href="") Tin doanh nghiệp
			a(href="") Tin thị trường
		.row
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_1.png", alt="")
						figcaption
							p
								strong [30/12/2018] 
								|  Bất động sản Việt Nam: Thu hút mạnh vốn ngoại
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_2.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Căn hộ 22 m2 đầy đủ tiện ích với thiết kế siêu thông minh
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_3.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Nguồn cung khổng lồ chung cư chuẩn bị đổ vào thị trường BĐS trong năm 2019
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_4.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Bất động sản Khánh Hòa vẫn âm thầm nổi sóng
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_5.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Nhà siêu mỏng, hình thù kỳ dị lại đu bám bên đường nghìn tỷ
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_6.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  “Lệch pha” cung cầu căn hộ năm 2019
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_7.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Sức hút bất động sản giá trị thực tại Phú Quốc
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_8.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Thị trường BĐS TP.HCM quý 4/2018 diễn biến "lạ"
			.box-content
				figure
					a(href="")
						img(src="../img/new-event/news_img_9.png", alt="")
						figcaption
							p
								strong [30/12/2018]
								|  Nhà đầu tư không còn mặn mà với phân khúc chung cư cao cấp tại TPHCM