section.new-event
	h2.moduleTitle Tin tức - Sự kiện
	.container
		.row
			.pages
				ul
					li Tin doanh nghiệp
					li Tin thị trường
			#pagination-container
				.row
					.col.module-img
						figure
							img.img-fluid(src="../img/new-event/news_img_1.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Bất động sản Việt Nam: Thu hút mạnh vốn ngoại
						figure
							img.img-fluid(src="../img/new-event/news_img_2.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Căn hộ 22 m2 đầy đủ tiện ích với thiết kế siêu thông minh
						figure
							img.img-fluid(src="../img/new-event/news_img_3.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Nguồn cung khổng lồ chung cư chuẩn bị đổ vào thị trường BĐS trong năm 2019
					.col.module-img
						figure
							img.img-fluid(src="../img/new-event/news_img_4.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Bất động sản Khánh Hòa vẫn âm thầm nổi sóng
						figure
							img.img-fluid(src="../img/new-event/news_img_5.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Nhà siêu mỏng, hình thù kỳ dị lại đu bám bên đường nghìn tỷ
						figure
							img.img-fluid(src="../img/new-event/news_img_6.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> “Lệch pha” cung cầu căn hộ năm 2019
					.col.module-img
						figure
							img.img-fluid(src="../img/new-event/news_img_7.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Sức hút bất động sản giá trị thực tại Phú Quốc
						figure
							img.img-fluid(src="../img/new-event/news_img_8.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Thị trường BĐS TP.HCM quý 4/2018 diễn biến "lạ"
						figure
							img.img-fluid(src="../img/new-event/news_img_9.png", alt="")
							figcaption
								p <strong>[30/12/2018]</strong> Nhà đầu tư không còn mặn mà với phân khúc chung cư cao cấp tại TPHCM
			#data-container
				ul
					li.prev
					li 1
					li 2
					li 3
					li.next