section.banner-home
	img(src="./img/home/banner.jpg", alt="")
section.home
	.container
		.row
			.col-md-6
				hr
				p Da sạch là tiền đề của da khỏe và da khỏe là gốc rễ của da đẹp. Vì vậy, bạn có thể không có serum, không có kem dưỡng nhưng không thể không có sữa rửa mặt. Công dụng của sản phẩm này là làm sạch bụi bẩn, tạp chất và dầu thừa trên bề mặt da. Ngoài ra, nếu chọn các loại sữa rửa mặt có chứa Salicylic acid thì bạn còn giúp da được làm sạch sâu trong lỗ chân lông, kiểm soát dầu thừa và điều trị - ngăn ngừa mụn. 
			.col-md-6
				.boximg
					img(src="./img/home/heading_1.jpg", alt="")
		.row
			.col-md-8
				p Bởi lẽ, Salicylic acid là hoạt chất thuộc nhóm BHA và có khả năng tan trong dầu. Vì vậy các bít tắc trong lỗ chân lông do dầu thừa sẽ được Salicylic acid giải quyết dễ dàng. Theo nhiều nghiên cứu, hoạt chất này còn giúp giảm viêm sưng, tấy đỏ do mụn gây ra. Clarifying Cleanser của Murad là sản phẩm tiêu biểu với 1.5% Salicylic acid. Ngoài ra, gel rửa mặt này còn chứa muối bạc Citrate và trà xanh vừa giúp da kháng viêm vừa ức chế sự hoạt động của khuẩn mụn.
				.boximg
					img(src="./img/home/heading_2.jpg", alt="")
			.col-md-4
				.boximg.flex-end
					img(src="./img/home/item_1.jpg", alt="")
		.row
			.col-md-5
				.boximg
					img(src="./img/home/picture-1.jpg", alt="")
			.col-md-7
				p Thực ra, nặn mụn là phương pháp xử lý viêm tại chỗ một cách nhanh chóng. Có thể bạn sẽ nghe các bác sĩ da liễu hay chuyên gia khuyên bạn nặn mụn. Tuy nhiên, việc đó chỉ đúng khi bạn thực hiện bởi các bác sĩ, chuyên viên có tay nghề và kinh nghiệm. Bạn không nên tự ý nặn mụn vì nặn mụn không đúng cách hoặc sử dụng các dụng cụ chưa được tiệt trùng sẽ lây lan vi khuẩn - làm trầm trọng thêm vấn đề viêm, phá vỡ cấu trúc da và để lại sẹo.
					br
					|Thực ra, nặn mụn là phương pháp xử lý viêm tại chỗ một cách nhanh chóng. Có thể bạn sẽ nghe các bác sĩ da liễu hay chuyên gia khuyên bạn nặn mụn. Tuy nhiên, việc đó chỉ đúng khi bạn thực hiện bởi các bác sĩ, chuyên viên có tay nghề và kinh nghiệm. Bạn không nên tự ý nặn mụn vì nặn mụn không đúng cách hoặc sử dụng các dụng cụ chưa được tiệt trùng sẽ lây lan vi khuẩn - làm trầm trọng thêm vấn đề viêm, phá vỡ cấu trúc da và để lại sẹo.
		.row
			.col-md-7
				h3 Nặn mụn không đúng cách làm lây lan vi khuẩn,phá vỡ cấu trúc da và để lại sẹo
				p Sở dĩ làm được điều đó là nhờ hoạt chất Salicylic acid  2% dạng nang nén độc quyền của hãng. Nếu như Salicylic acid được biết đến khả năng kháng viêm, làm sạch lỗ chân lông và tiêu nhân mụn thì ở thể nang nén hoạt chất này vươn lên tầm cao mới. Cụ thể là các phân tử Salicylic acid bao bọc lấy các tiểu phân tử Salicylic acid có kích thước nhỏ hơn để tạo thành cấu trúc nhiều lớp. Nhờ cấu trúc nang nén nhiều lớp nên mỗi 2 giờ các phân tử vỡ tan và phóng thích ra Salicylic acid để điều trị các nốt mụn đang sưng viêm. Điểm hay của cấu trúc nan nén có trong Rapid Relief Acne Spot Treatment, kể cả khi bạn rửa mặt đi hoặc không còn cảm giác gì trên da thì các hoạt chất vẫn đang âm thầm hoạt động, và các nốt mụn viêm biến mất chỉ sau 4 giờ.
			.col-md-5
				.boximg.flex-end
					img(src="./img/home/item_2.jpg", alt="")
		.row
			.col-md-7
				.boximg
					img(src="./img/home/heading_5.jpg", alt="")
			.col-md-5
				.boximg.flex-end
					img(src="./img/home/item_3.jpg", alt="")