section.about
	h2.moduleTitle Giới thiệu
	.introduce
		.moduleContent
			p Hành trình 7 năm xây dựng những giá trị sống đích thực:
			p Công ty TNHH Hoàng Phú Thái thành lập vào năm 2011, không ngừng phát triển trong lĩnh vực đầu tư và xây dựng bất động sản trong nước. Với sứ mệnh phủ sóng các công trình trên cả nước và vươn mình tới các công trình ngoài nước, Hoàng Phú Thái luôn nghiên cứu và áp dụng công nghệ tiên tiến trên thế giới. 
			br
			p Để góp một phần quan trọng cho sự nghiệp xây dựng tương lai vững chắc, hơn 100 đội ngũ, chuyên gia không ngừng trau dồi và cải thiện kỹ năng trong ngành. Cam kết mang đến những dịch vụ và công trình đạt hiệu quả tối ưu cho đối tác và khách hàng.
			.readmore
				a(href="") Xem thêm
		.module-img
			img(src="../img/about/about_banner.png", alt="", srcset="")
section.home-banner
	.container
		.row
			.col-3
				.box-img
					img(src="../img/home/home_icon_1.png", alt="")
				p Nguồn lực thiết bị thi công hiện đại
			.col-3
				.box-img
					img(src="../img/home/home_icon_2.png", alt="")
				p Đội ngũ nhân sự giàu kinh nghiệm
			.col-3
				.box-img
					img(src="../img/home/home_icon_3.png", alt="")
				p Văn hóa an toàn trong xây dựng
			.col-3
				.box-img
					img(src="../img/home/home_icon_4.png", alt="")
				p Hệ thống quản lý chuyên nghiệp

section.popular-project
	.container
		h2.moduleTitle DỰ ÁN NỔI BẬT
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.row
						.col-6
							a
								figure
									img(src="../img/home/home_project_1.png", alt="")
									figcaption
										p
											span Căn hộ Sunshine Marina Nha Trang Bay
											span.fas.fa-caret-right
						.col-6
							a
								figure
									img(src="../img/home/home_project_2.png", alt="")
									figcaption
										p
											span Căn hộ Napoleon Castle Nha Trang
											span.fas.fa-caret-right
					.row
						.col-4
							a
								figure
									img(src="../img/project/project_item_1.png", alt="")
									figcaption
										p
											span Ocean Hill Village Nha Trang
											span.fas.fa-caret-right
						.col-4
							a
								figure
									img(src="../img/project/project_item_3.png", alt="")
									figcaption
										p
											span The Silk Path City Phú Quốc
											span.fas.fa-caret-right
						.col-4
							a
								figure
									img(src="../img/project/project_item_2.png", alt="")
									figcaption
										p
											span Intercontinental Phú Quốc
											span.fas.fa-caret-right
section.home-news
	.container
		h2.moduleTitle Tin tức
		nav
			a(href="") Tin doanh nghiệp
			a(href="") Tin thị trường
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_1.png", alt="")
								figcaption
									p
										strong [30/12/2018] 
										|  Bất động sản Việt Nam: Thu hút mạnh vốn ngoại
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_2.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Căn hộ 22 m2 đầy đủ tiện ích với thiết kế siêu thông minh
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_3.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Nguồn cung khổng lồ chung cư chuẩn bị đổ vào thị trường BĐS trong năm 2019
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_4.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Bất động sản Khánh Hòa vẫn âm thầm nổi sóng
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_5.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Nhà siêu mỏng, hình thù kỳ dị lại đu bám bên đường nghìn tỷ
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_6.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  “Lệch pha” cung cầu căn hộ năm 2019
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_7.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Sức hút bất động sản giá trị thực tại Phú Quốc
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_8.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Thị trường BĐS TP.HCM quý 4/2018 diễn biến "lạ"
				.swiper-slide
					.box-content
						a(href="")
							figure
								img(src="../img/new-event/news_img_9.png", alt="")
								figcaption
									p
										strong [30/12/2018]
										|  Nhà đầu tư không còn mặn mà với phân khúc chung cư cao cấp tại TPHCM
section.module-partner
	.container
		h2.moduleTitle Đối tác
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="../img/home/home_client_1.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/home/home_client_2.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/home/home_client_3.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/home/home_client_4.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/home/home_client_5.png", alt="", srcset="")