section.contact
	h2.moduleTitle Liên hệ
	.container
		.row
			.box-img
				figure
					img(src="../img/contact/contact_banner.png", alt="", srcset="")
					figcaption
						h3 CÔNG TY TNHH hoàng phú thái
						p
							span.fas.fa-map-marker-alt
							span BT 06-08 , Đường 28B KĐT Phước Long, P. Phước Long, Tp. Nha Trang, Khánh Hòa.
						p
							span.fas.fa-phone
							a(href="tel:+84918290028") 0918290028
						p
							span.fas.fa-envelope
							a(href="mailto:info@hoangphuthai.vn") info@hoangphuthai.vn
						p
							span.fas.fa-globe-asia
							a(href="www.hoangphuthai.vn") www.hoangphuthai.vn
			.wrap-form
				h3 Form liên hệ
				p Xin vui lòng điền vào form để liên hệ với chúng tôi
				.frm-content
					.row
						.col-md-6.input-form
							.form-group.qtext
								label Họ và tên
								input(name="Họ và tên" type="text" spellcheck="false")
						.col-md-6.input-form
							
							.form-group.qtext
								label Số điện thoại
								input(name="Số điện thoại" type="text" spellcheck="false")
						.col-md-6.input-form
							.form-group.qtext
								label Email
								input(name="Email" type="text" spellcheck="false")
						.col-md-6.input-form
							.form-group.qtext
								label Tiêu đề
								input(name="Tiêu đề" type="text" spellcheck="false")
						.col-lg.input-form
							.form-group.qparagraph
								label Nội dung
								textarea(name="Nội dung", cols="30", rows="10")
				.form-group.frm-btnwrap
					input(type="submit", value="GỬI" class="btn btn-default frm-btn-submit")
.map
	img(src="../img/contact/contact_location_2.png", alt="", srcset="")
	img.d-none(src="../img/contact/contact_location_1.png", alt="", srcset="")