section.about
	h2.moduleTitle Giới thiệu
	.introduce
		.moduleContent
			p Hành trình 7 năm xây dựng những giá trị sống đích thực:
			p Công ty TNHH Hoàng Phú Thái thành lập vào năm 2011, không ngừng phát triển trong lĩnh vực đầu tư và xây dựng bất động sản trong nước. Với sứ mệnh phủ sóng các công trình trên cả nước và vươn mình tới các công trình ngoài nước, Hoàng Phú Thái luôn nghiên cứu và áp dụng công nghệ tiên tiến trên thế giới. 
			br
			p Để góp một phần quan trọng cho sự nghiệp xây dựng tương lai vững chắc, hơn 100 đội ngũ, chuyên gia không ngừng trau dồi và cải thiện kỹ năng trong ngành. Cam kết mang đến những dịch vụ và công trình đạt hiệu quả tối ưu cho đối tác và khách hàng.
			.readmore
				a(href="") Xem thêm
		.module-img
			img(src="../img/about/about_banner.png", alt="", srcset="")
section.module-seek
	.container
		h2 Tầm nhìn - Sứ mệnh
		.row
			.col-lg-6.content
				.module-Content
					h3 Tầm nhìn
					img(src="../img/about/about_icon_1.png", alt="", srcset="")
					p Là một Tập đoàn xây dựng đẳng cấp quốc tế, vị thế cao, phát triển vững mạnh, góp phần mang lại cuộc sống hạnh phúc và thịnh vượng cho cộng đồng.
			.col-lg-6.m-content
				.module-Content
					h3 Sứ mệnh
					img(src="../img/about/about_icon_2.png", alt="", srcset="")
					p Chúng tôi phát triển dự án, không chỉ ở những mét vuông xây dựng mà góp phần kiến tạo cộng đồng nhân văn tiên tiến, qua đó tạo nên giá trị sống gia tăng bền vững cho mình và cho xã hội.
			.col.s-content
				.module-Content
					h3 Giá trị cốt lõi
					img(src="../img/about/about_icon_3.png", alt="", srcset="")
					p CHÍNH TRỰC - HIỆU QUẢ - CHUYÊN NGHIỆP
section.module-history
	h2.moduleTitle Lịch sử phát triển
	.container
		.row
			.col.module-img
				img(src="../img/about/about_intro_1.png", alt="", srcset="")
			.col.content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
section.module-partner
	.container
		h2.moduleTitle Đối tác - Khách hàng
		.btn-group
			.swiper-button-next
				i.fa-chevron-right
			.swiper-button-prev
				i.fa-chevron-left
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="../img/about/partner/about_client_1.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/about/partner/about_client_2.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/about/partner/about_client_3.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/about/partner/about_client_4.png", alt="", srcset="")
				.swiper-slide
					img(src="../img/about/partner/about_client_5.png", alt="", srcset="")