html
	line-height: 1.5
	font-weight: 400
	font-size: 16px
	-webkit-text-size-adjust: 100%
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	margin: 0
	font-family: 'Quicksand', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
	color: #212529
	text-align: left
	background-color: #fff
body
	margin: 0
	h2.moduleTitle
		text-align: center
		padding-bottom: 3rem
		font-family: 'Montserrat', sans-serif
		font-size: 38px
		font-weight: 600
		line-height: 38px
		letter-spacing: 0.95px
		background-clip: text
		-webkit-background-clip: text
		color: transparent
		background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
	//about
	.about
		.module-about
			.content
				.moduleContent
					padding: 1rem
					p
						color: #666666
						font-family: 'Montserrat', sans-serif
						font-size: 18px
						font-weight: 400
						line-height: 28px
				padding: 0
				.readmore
					padding: 1rem
					justify-content: center
					display: flex
					button
						width: 185px
						border-radius: 5px
						border: 1px solid rgb(163, 126, 44)
						height: 42px
						background: #fff
						color: #685c53
						font-family: 'Montserrat', sans-serif
						font-size: 14px
						font-weight: 400
						line-height: 20px
						text-transform: uppercase
				.module_img
					text-align: center
					margin-bottom: 3rem
			@media (min-width: 992px)
				display: flex
				margin-bottom: 5rem
				.content
					flex: 0 0 50%
					.moduleContent
						text-align: right
						p
							font-size: 16px
					.module_img
						display: flex
		.module-seek
			background: url('../img/about/about_banner_bg.png') center center no-repeat
			background-size: cover
			text-align: center
			padding: 1rem
			h2
				padding-bottom: 3rem
				padding-top: 2rem
				letter-spacing: 0.8px
				text-shadow: 2px 4px 10px rgba(49, 38, 14, 0.5)
				color: #ffffff
				font-family: 'Montserrat', sans-serif
				font-size: 30px
				font-weight: 600
				line-height: 31px
			.s-content
				border-radius: 5px
				background: rgba(255,255,255,.7)
				margin: 1rem 0
				padding: 0
				.module-Content
					p
						padding: .5rem
						color: #666666
						font-family: 'Montserrat', sans-serif
						font-size: 15px
						font-weight: 400
						line-height: 23px
					h3
						position: relative
						padding: .5rem 0
						color: #685c53
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						&:before
							content: ""
							display: inline-block
							height: 1px
							width: 100%
							background-image: linear-gradient(to top, #9d763d 0%, #d3ae63 100%)
							position: absolute
							bottom: 0
							left: 0
					h4
						padding: 0 .5rem 1rem
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						text-transform: uppercase
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
			.content
				border-radius: 5px
				background: rgba(255,255,255,.7)
				margin: 1rem 0
				padding: 0
				.module-Content
					p
						padding: .5rem
						color: #666666
						font-family: 'Montserrat', sans-serif
						font-size: 15px
						font-weight: 400
						line-height: 23px
					h3
						position: relative
						padding: .5rem 0
						color: #685c53
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						&:before
							content: ""
							display: inline-block
							height: 1px
							width: 100%
							background-image: linear-gradient(to top, #9d763d 0%, #d3ae63 100%)
							position: absolute
							bottom: 0
							left: 0
					h4
						padding: 0 .5rem 1rem
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						text-transform: uppercase
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
				@media (min-width: 768px)
					flex: 0 0 50%
					border-radius: 0
					background: none
					.module-Content
						margin-right: .5rem
						border-radius: 5px
						background: hsla(0,0%,100%,.7)
						height: 100%
						.img-fluid
							float: left
							padding: 1rem
						p
							text-align: left
							padding: 1rem
							display: flex
			.m-content
				border-radius: 5px
				background: rgba(255,255,255,.7)
				margin: 1rem 0
				padding: 0
				.module-Content
					p
						padding: .5rem
						color: #666666
						font-family: 'Montserrat', sans-serif
						font-size: 15px
						font-weight: 400
						line-height: 23px
					h3
						position: relative
						padding: .5rem 0
						color: #685c53
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						&:before
							content: ""
							display: inline-block
							height: 1px
							width: 100%
							background-image: linear-gradient(to top, #9d763d 0%, #d3ae63 100%)
							position: absolute
							bottom: 0
							left: 0
					h4
						padding: 0 .5rem 1rem
						font-family: 'Montserrat', sans-serif
						font-size: 24px
						font-weight: 600
						line-height: 31px
						letter-spacing: 0.6px
						text-transform: uppercase
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
				@media (min-width: 768px)
					flex: 0 0 50%
					border-radius: 0
					background: none
					.module-Content
						margin-left: .5rem
						border-radius: 5px
						background: hsla(0,0%,100%,.7)
						height: 100%
						.img-fluid
								float: right
								padding: 1rem
						p
							text-align: left
							padding: 1rem
							display: flex
		.module-history
			text-align: center
			h2
				padding-top: 3rem
				padding-bottom: 2rem
			.content
				p
					color: #666666
					font-family: 'Montserrat', sans-serif
					font-size: 16px
					font-weight: 400
					line-height: 28px
					letter-spacing: 0.4px
					padding: 1rem
			@media (min-width: 992px)
				.content
					flex: 0 0 50%
					text-align: left
					p
						padding: 0
		.module-partner
			position: relative
			padding: 4rem 0
			.module-client
				position: relative
				.swiper-container
					width: 100%
					height: 100%
					.swiper-wrapper
						.swiper-slide
							text-align: center
							font-size: 18px
							background: #fff
							display: flex
							justify-content: center
							align-items: center
							.box-img
								box-shadow: 0px 0px 1px rgba(19, 28, 35, 0.1)
								border: .5px solid rgba(19, 28, 35, 0.1)
								text-align: center
								width: 100%
								z-index: 999
								&:hover
									box-shadow: 0 0 15px 0 rgba(0,0,0,.2)
									z-index: 999
				.swiper-button-next
					background-image: none
					width: 20px
					height: 20px
					text-align: center
					position: absolute
					top: auto
					bottom: -25%
					right: auto
					left: 50%
					display: flex
					justify-content: center
					align-items: center
					border-radius: 5px
					border: 1px solid #f5b535
					display: flex
					justify-content: center
					align-items: center
					padding: 1rem
					background: #f5b535
					.fa-chevron-right
						outline: none
						font-style: normal
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
						&:before
							color: #000
							content: "\f054"
							font-family: 'Font Awesome 5 Free'
							font-weight: 600
				.swiper-button-prev
					background-image: none
					width: 20px
					height: 20px
					text-align: center
					position: absolute
					bottom: -25%
					top: auto
					right: 51%
					left: auto
					display: flex
					justify-content: center
					align-items: center
					border-radius: 5px
					border: 1px solid #f5b535
					display: flex
					justify-content: center
					align-items: center
					padding: 1rem
					background: #f5b535
					.fa-chevron-left
						outline: none
						font-style: normal
						background-clip: text
						-webkit-background-clip: text
						color: transparent
						background-image: linear-gradient(to right, #9d763d 0%, #d3ae63 100%)
						&:before
							color: #000
							content: "\f053"
							font-family: 'Font Awesome 5 Free'
							font-weight: 600
			@media (min-width: 992px)
				.module-client
					.swiper-button-next
						outline: none
						transform: translate(-50%,-50%)
						right: -1%
						bottom: auto
						top: 20%
						left: auto
						background-image: none
						background: #ffffff
						border-color: rgba(19, 28, 35, 0.1)
					.swiper-button-prev
						outline: none
						transform: translate(-50%,-50%)
						left: auto
						background-image: none
						bottom: auto
						top: 20%
						right: 4%
						background: #ffffff
						border-color: rgba(19, 28, 35, 0.1)
.module-a
	list-style-type: none
	padding-left: 0
main
	padding-top: 119px
	@media (max-width: 991.9px)
		padding-top: 73px
.hiddenX
	overflow: hidden
img
	max-width: 100%

//pagination
.pages
	.pagination
		display: flex
		justify-content: center
		li
			width: 60px
			height: 50px
			border-bottom: 1px solid darken(white,40%)
			a,span
				font-size: 15px
				font-weight: 400
				color: darken(white,40%)
				width: inherit
				height: inherit
				display: flex
				justify-content: center
				align-items: center
			&.active
				border-bottom: 3px solid lighten(black,33%)
				a,span
					font-weight: 700
					color: lighten(black,33%)


// Main title
.main-title
	font-size: 35px
	font-weight: 400
	color: lighten(black,20%)
	text-align: center
	margin-bottom: 32px

// grid css
.col, [class^="col-"]
	padding: 0 10px
	flex: 0 0 100%
	max-width: 100%
@media (min-width: 576px)
	.col-sm-6
		flex: 0 0 50%
		max-width: 50%
@media (min-width: 768px)
	.col-md-6
		flex: 0 0 50%
		max-width: 50%
@media (min-width: 992px)
	.col-lg
		flex-grow: 1
		flex-basis: 0
		max-width: 100%
	.col-lg-2
		flex: 0 0 16.6666%
		max-width: 16.6666%
	.col-lg-3
		flex: 0 0 25%
		max-width: 25%
	.col-lg-4
		flex: 0 0 33.3333%
		max-width: 33.3333%
@media (min-width: 1200px)

// Fonts icon
.mdi-phone:before
	content: '\f3f2'
.mdi-account-outline:before
	content: '\f013'
.mdi-web:before
	content: '\f59f'
.mdi-chevron-down:before
	content: '\f140'
.mdi-basket:before
	content: '\f076'
.mdi-magnify:before
	content: '\f349'
.mdi-menu:before
	content: '\f35c'
.fa-facebook-f:before
	content: '\f39e'
.fa-instagram:before
	content: '\f16d'
.fa-youtube:before
	content: '\f167'
.lnr-chevron-down:before
	content: '\e874'
.lnr-chevron-up:before
	content: '\e873'
